# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [2]:
import sqlite3

def create_database() :
    connection = sqlite3.connect('test.db')
    connection.close()
    print("Database created Successfully")

create_database()

Database created Successfully

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [3]:
def create_table() :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT)
    ''')
    connection.commit()
    connection.close()
    print("Table Created Successfully")

create_table()

Table Created Successfully

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [8]:
def add_employee(id, name, age, department) :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()

    cursor.execute('''
        INSERT INTO employees(id, name, age, department)
        Values(?,?,?,?)
    ''', (id, name, age, department))
    connection.commit()
    connection.close()
    print("New Employee Added")

add_employee(1, "Prince", 20, "ECE")

New Employee Added

2. Insert at least 5 different employees into the `employees` table.

In [9]:
def add_employee(employeeData) :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()

    cursor.executemany('''
        INSERT INTO employees(id, name, age, department)
        values(?,?,?,?)
    ''', employeeData)
    connection.commit()
    connection.close()
    print(f"{len(employeeData)} new employees added")

employeeData = [
    (2, "John", 18, "CSE"),
    (3, "Kamal", 24, "EEE"),
    (4, "Arya", 31, "EIE"),
    (5, "Priyansh", 23, "ME"),
    (6, "Raju", 29, "Civil"),
]

add_employee(employeeData = employeeData)

5 new employees added

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [10]:
def fetch_data() :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor() 

    cursor.execute('''
        SELECT * from employees
    ''')

    rows = cursor.fetchall()

    for row in rows :
        print(row)
    
    connection.close()

fetch_data()

(1, 'Prince', 20, 'ECE')
(2, 'John', 18, 'CSE')
(3, 'Kamal', 24, 'EEE')
(4, 'Arya', 31, 'EIE')
(5, 'Priyansh', 23, 'ME')
(6, 'Raju', 29, 'Civil')

2. Write a Python function to fetch and display all employees from a specific department.

In [11]:
def fetch_specific(department) :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()

    cursor.execute('''
        SELECT * from employees
        Where department = ?
    ''', (department, ))

    rows = cursor.fetchall()

    for row in rows :
        print(row)
    
    connection.close()

fetch_specific("EIE")

(4, 'Arya', 31, 'EIE')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [12]:
import sqlite3
def update_department(id, department) :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()

    cursor.execute('''
        UPDATE employees
        SET department = ?
        Where id = ?
    ''', (department, id, ))

    connection.commit()

    connection.close()

    print("Department Updated")

update_department(4, "ECE")

Department Updated

2. Update the department of at least 2 employees and display the updated records.

In [13]:
update_department(4, "EIE")
update_department(3, "ECE")

fetch_data()

Department Updated
Department Updated
(1, 'Prince', 20, 'ECE')
(2, 'John', 18, 'CSE')
(3, 'Kamal', 24, 'ECE')
(4, 'Arya', 31, 'EIE')
(5, 'Priyansh', 23, 'ME')
(6, 'Raju', 29, 'Civil')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [14]:
def delete_data(id) :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()

    cursor.execute('''
            DELETE from employees 
            WHERE id = ?
    ''', (id, ))

    connection.commit()

    connection.close()

    print("One Data Cleared")

delete_data(3) #Deleted one employee

One Data Cleared

2. Delete at least 1 employee and display the remaining records.

In [15]:
fetch_data()

(1, 'Prince', 20, 'ECE')
(2, 'John', 18, 'CSE')
(4, 'Arya', 31, 'EIE')
(5, 'Priyansh', 23, 'ME')
(6, 'Raju', 29, 'Civil')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [16]:
def advanced_search(age) :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()

    cursor.execute('''
        SELECT * from employees
        where age > ?
    ''', (age, ))

    rows = cursor.fetchall()

    for row in rows :
        print(row)

    connection.close()

advanced_search(20)

(4, 'Arya', 31, 'EIE')
(5, 'Priyansh', 23, 'ME')
(6, 'Raju', 29, 'Civil')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [17]:
def employee_name_starts_letter(letter) :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()

    cursor.execute('''
        SELECT * from employees
        where name LIKE ?
    ''', (letter + '%', ))

    rows = cursor.fetchall()

    for row in rows :
        print(row)

    connection.close()

employee_name_starts_letter('P')

(1, 'Prince', 20, 'ECE')
(5, 'Priyansh', 23, 'ME')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [18]:
def insert_multiple(employees) :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    try :
        cursor.executemany('''
                INSERT into employees(id, name, age, department)
                values (?, ?, ?, ?)
        ''', employees)
    except Exception as e :
        connection.rollback()
        print(e)
        print("No insertions commited")
    finally :
        connection.close()

employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]

insert_multiple(employees)

UNIQUE constraint failed: employees.id
No insertions commited

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [19]:
def multiple_age_updation(data) :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()

    try :
        cursor.executemany('''
            UPDATE employees 
            Set age = ?
            where id = ?
        ''', data)
        connection.commit()
        print("Data updated Successfully")
    except Exception as e :
        connection.rollback()
        print(e)
        print("None of the updates are commited")
    finally :
        connection.close()

updates = [
    (32, 1),
    (26, 2),
    (33, 3), # Non-existing ID to cause an error
    (41, 4),  
    (23, 5)
]

multiple_age_updation(updates)

Data updated Successfully

## Note for the above question : 
SQL does not raise an error when an UPDATE affects zero rows; it is considered a valid operation. Errors occur only when constraints or syntax rules are violated.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [20]:
def create_new_table() :
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor() 

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments(
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL)
    ''')
    connection.commit()
    connection.close()

    print("New Table named Department Created")

create_new_table()

New Table named Department Created

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [22]:
import sqlite3

def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.executescript('''
        PRAGMA foreign_keys = OFF;

        BEGIN TRANSACTION;

        ALTER TABLE employees RENAME TO old_employees;

        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );

        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department
        FROM old_employees;

        DROP TABLE old_employees;

        COMMIT;

        PRAGMA foreign_keys = ON;
    ''')

    conn.close()
    print("Table 'employees' modified successfully.")

add_department_foreign_key()

Table 'employees' modified successfully.

# Adding Foreign Keys in SQLite (Short Note)

SQLite handles foreign keys differently from most relational databases.  
Unlike MySQL or PostgreSQL, SQLite **does not support adding foreign key constraints using `ALTER TABLE`** on an existing table.

## Why `ALTER TABLE` Does Not Work
SQLite allows only limited `ALTER TABLE` operations (rename table, add column).  
Adding constraints such as **FOREIGN KEY** after table creation is not supported.

## Correct Way to Add a Foreign Key in SQLite
To add a foreign key to an existing table, the table must be **recreated**.

### Steps
1. Rename the existing table  
2. Create a new table with the foreign key constraint  
3. Copy data from the old table to the new table  
4. Drop the old table  

## Important: Enable Foreign Keys
Foreign key enforcement is **disabled by default** in SQLite.

```sql
PRAGMA foreign_keys = ON;

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [23]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and employee inserted successfully.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [24]:
def create_index():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
        CREATE INDEX idx_name ON employees(name)
    ''')
    connection.commit()
    connection.close()
    print("index created on name column")

create_index()

index created on name column

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [28]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)


fetch_employees_name_starts_with_performance('A')

Time taken: 0.0010018348693847656 seconds
(4, 'Arya', 41, 'EIE', None)

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [29]:
import shutil

def backup_database():
    shutil.copy('test.db','backup.db')
    print("Backup Created Successfully")

backup_database()

Backup Created Successfully

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [30]:
def restore_database() :
    shutil.copy('backup.db', 'test.db')
    print("Database Restored Successfully")

restore_database()

Database Restored Successfully