## SQL and SQLite
SQL(Structured Query Language) is a standard language for managing and manipulating relational Databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [2]:
import sqlite3

In [3]:
## Connect to a SQLite database 

connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
## Create a table
cursor.execute('''
Create Table If NOT Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )               
''')

## Commit the changes 
connection.commit()

In [6]:
cursor.execute('''
Select * from employees
               
''')

In [7]:
### Insert the data in SQLite table\
cursor.execute('''
Insert Into employees(name, age, department)
Values('Krish', 32, 'Data Scientist')
''')

cursor.execute('''
Insert Into employees(name, age, department)
Values('Bob', 25, 'Engineering')
''')

cursor.execute('''
Insert Into employees(name, age, department)
Values('Charlie', 35, 'Finance')
''')

## Commit the changes
connection.commit()

In [8]:
## Query the data from the table 
cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

## Print the queried Data 
for row in rows :
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [9]:
### Update the data in the table 
cursor.execute('''
UPDATE employees
Set age = 34
where name = "Krish"
''')

connection.commit()

In [10]:
## Query the data from the table 
cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

## Print the queried Data 
for row in rows :
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [11]:
## Delete the data from the table 
cursor.execute('''
Delete from employees
Where name = "Bob"
''')

connection.commit()

In [12]:
## Query the data from the table 
cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

## Print the queried Data 
for row in rows :
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [19]:
## Working with Sales Data 
#Connect to an SQlite Database 
connection = sqlite3.connect('saleData.db')
cursor = connection.cursor()

#Create a table for the sales data 
cursor.execute('''
CREATE TABLE IF NOT EXISTS sale(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
    )
''')

## Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sale(date, product, sales, region)
                       values(?,?,?,?)
''', sales_data)

connection.commit()

In [20]:
## Query the data from the table 
cursor.execute('''
Select * from sale
''')

rows = cursor.fetchall()

## Print the queried Data 
for row in rows :
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [21]:
## close the connection
connection.close()